    <div class="animate__animated animate__lightSpeedInRight p-4">

        <div id="mydiv"   class="card-group text-blue bg-info mt-5" style="height:auto; padding:30px; border-top-left-radius: 40%;border-bottom-right-radius: 40%; ">
        
            <div class="card-body"   style="text-align: center;">
                <div class="header" >
                    <img class="profile-picture" style="width: 180px; height: 200px;border-radius: 20%;" src="assets/imagen/perfil.jpg" alt="FotoPerfil">
                </div>
                <div class="mt-5">
                    <h2 >
                        <span class="titulo">Jose William Martinez</span>
                    </h2>
                    <h3>
                        <span class="titulo">Sofware Developer Jr.</span>
                    </h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="animate__animated animate__zoomIn">
        <div class="info">
            <div class="border  border-info text-blue bg-light mt-2" style="height: auto; padding:40px;">
                <h3>
                    <span>Perfil Profesional</span>
                </h3>
                <p>
                    Desarrollador FrontEnd Angular Jr., apasionado por diseñar y desarrollar sistemas de información óptimos
                    centrados en la usabilidad y la experiencia del usuario. Habilidoso en el desarrollo de interfaces de
                    usuario con Angular, HTML5, CSS3 y JavaScript. Tengo una sólida experiencia en la gestión de sistemas de
                    información en áreas financieras, contables y de recursos humanos.
                </p>
            </div>
        
            <div class="border border-info text-blue bg-light rounded-4 mt-3" style="height: auto; padding:40px;">
        
                <h3 style="margin-bottom: 20px;">
                    <span>Informacion Personal</span>
                </h3>
                <div style="text-align: start;">
                    <span class="me-3"><strong>Nombre y Apellidos :</strong> </span>
                    <span>Jose William Martinez</span>
                </div>
                <div style="text-align: start;">
                    <span class="me-3"> <strong>Estado Civil :</strong></span>
                    <span>Soltero</span>
                </div>
                <div style="text-align: start;">
                    <span class="me-3"><strong>Telefono :</strong> </span>
                    <span>312 296 7655</span>
                </div>
                <div style="text-align: start;">
                    <span class="me-3"><strong> Direccion de Residencia :</strong></span>
                    <span>Cr 14 # 17a - 09 apto 1 (Bosconia - Cesar)</span>
                </div>
                <div style="text-align: start;">
                    <span class="me-3"><strong>Correo Electronico :</strong> </span>
                    <span>josewilliam03@hotmail.com</span>
                </div>
                <div style="text-align: start;">
                    <span class="me-3"><strong> Perfil Linkedin :</strong></span>
                    <span><a href="http://www.linkedin.com/in/jose-william-martinez-pena" target="_blank">Linkedin
                            Profile</a></span>
                </div>
            </div>
        
            <div class="border border-info text-blue bg-light rounded-4 mt-3" style="height: auto; padding:40px;">
                <h3 style="margin-bottom: 20px;">
                    <span>Estudios Realizados</span>
                </h3>
                <div class="mt-2" style="text-align: start;">
                    <span class="me-3"> <strong>Universidad De Pamplona :</strong></span>
                    <span>Administracion de Empresas</span>
                    <span> (Junio 21- Dec 2025 / 5 semestre)</span>
                </div>
                <div class="mt-2" style="text-align: start;">
                    <span class="me-3"> <strong>Uparsystem :</strong></span>
                    <span>Analisis Financieron y Contable (Bancario)</span>
                    <span> (2018 - 2019) </span>
                </div>
                <div class="mt-2" style="text-align: start;">
                    <span class="me-3"> <strong>Uparsystem :</strong></span>
                    <span>Analisis Financieron y Contable(Recaudo)</span>
                    <span> (2018 - 2019) </span>
                </div>
        
                <div class="mt-2" style="text-align: start;">
                    <span class="me-3"> <strong>Licencias y Certificaciones: </strong></span>
                    <ul>
                        <li>Angular 15 MasterClass with TypeScript, FireBase & Material - Udemy.</li>
                        <li>Responsive Web Design - freeCodeCamp.</li>
                        <li>JavaScript Algorithms and Data Structures - freeCodeCamp.</li>
                        <li>Front End Development Libraries - freeCodeCamp.</li>
                    </ul>
                </div>
        
            </div>
            <div class="border border-info text-blue bg-light rounded-4 mt-3" style="height: 200px; padding:40px;">
                <h3 style="margin-bottom: 20px;">
                    <span>Experiencia Laboral</span>
                </h3>
                <div style="text-align: start;">
                    <span class="me-3"><strong>Freelance Web Developer</strong> </span>
                    <p>
                        Profesional independiente
                        Jun 2023 - Present (2 months)
                        Desarrollador Front-End Angular Jr.
                    </p>
                </div>
            </div>
            <div class="border border-info text-blue bg-light rounded-4 mt-3" style="height: auto; padding:40px;">
                <h3 style="margin-bottom: 20px;">
                    <span>Skills</span>
                </h3>
                <div style="text-align: start;">
                    <span class="me-3"><strong>Tecnologias</strong></span>
                    
                    <ul>
                        <li>React</li>
                        <li>Jquery</li>
                        <li>Angular</li>
                        <li>HTML</li>
                        <li>css</li>
                        <li>JavaScript</li>
                        <li>GitHub</li>
                        <li>Git</li>
                        <li>Bootstrap</li>
                        <li>Analisis de Datos Crediticios</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>




