
<div class="card-group">
    <div class="col-md-4">
        <div class="card me-3">
            <div class="card-img">
                <img src="" alt="" />
            </div>
            <div class="card-header">
                <h3>Counters</h3>
            </div>
            <div class="card-body">
                <p class="card-text">En este espacio, se presenta uno de mis primeros ejercicios prácticos, donde apliqué mis
                    primeras técnicas de desarrollo. Aquí, encontrarás un ejemplo temprano de cómo implementé y puse en práctica los
                    conocimientos adquiridos en mis primeros pasos en el mundo del desarrollo. Este ejercicio marca el comienzo de
                    mi viaje, reflejando mis esfuerzos iniciales para aplicar lo aprendido y construir una base sólida en el
                    desarrollo.</p>
            </div>
            <div class="card-footer">
                <div class="link">
                    <a routerLink="/counter">Go Counter</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card ">
            <div class="card-img">
                <img src="" alt="" />
            </div>
            <div class="card-header">
                <h3>NavBar</h3>
            </div>
            <div class="card-body">
                <p class="card-text">FrontEnd Angular Developer Jr,. passionate about designing and developing optimal
                    information systems focused on usability and user experience. Skilled at UI development with
                    Angular, HTML5, CSS3, and JavaScript. I have a strong background in managing information systems in
                    financial, accounting, and human resources areas.</p>
            </div>
            <div class="card-footer">
                <div class="link">
                    <a routerLink="/navbar">Go NavBars</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card mt-4 me-3">
            <div class="card-img">
                <img src="" alt="" />
            </div>
            <div class="card-header">
                <h3>Crud</h3>
            </div>
            <div class="card-body">
                <p class="card-text">FrontEnd Angular Developer Jr,. passionate about designing and developing optimal
                    information systems focused on usability and user experience. Skilled at UI development with
                    Angular,
                    HTML5, CSS3, and JavaScript. I have a strong background in managing information systems in
                    financial,
                    accounting, and human resources areas.</p>
            </div>
            <div class="card-footer">
                <div class="link">
                    <a routerLink="/crud">Go Crud</a>
                </div>
            </div>
        </div>
    </div>
</div>