<div class="container p-4 ">
    <div class="row">
        <div class="col-md-12">
            <div class="card card border-primary mb-3">
                <div class="card-header text-center ">
                    <h3>About Me</h3>
                </div>
                <div class="card-body">
                    <p class="card-text">
                        Soy una persona comprometida y responsable con principios éticos sólidos, enfocado en crecimiento
                        personal y profesional. Mi dedicación me ha destacado en varios roles, mostrando respeto por los
                        demás y colaborando en armonía. Mi voluntad me guía, enfrentando desafíos con entusiasmo y
                        aprendiendo de cada experiencia. Valoro la honestidad y empatía, creando conexiones genuinas.
                    </p>
                </div>
            </div>
        </div>
        <app-about-me class="p-4"></app-about-me>
         <app-card></app-card>
    </div>
</div>
